#emplistTxt{
    margin-bottom: 30px;
    color: rgb(79, 119, 106);
}

.dfltTxt{
    color: rgb(79, 119, 106);
}

.empBackBtn{
    font-size: 50px;
}

.read-more-less--more,
.read-more-less--less {
  color: rgb(33, 80, 169);
}